@CHARSET "UTF-8";

body{
	margin: 0;
}

header{
	background-color: #000000;
	transition: 1s;
	width: 100%;
	height: 70px;
}
header:hover{
	background-color: white;
}
.header_title{
	padding-left: 10%;
	font-size: 200%;
}

.initial{
	color: #4169E1;
}

.cart{
	position: absolution;
	margin-left: 80%;
}

.info{
	margin-left:35%;
	font-size: 20px;
	text-align: center;
}

table{
	width: 50%;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 10px 20px;
}
table th{
	border-radius: 10%;
	background-color: #4169E1;
	color: white;
	width: 30%;
	font-size: 10px;
}

.btn{
	margin-bottom: 10%;
}

.btn1{
	float: left;
	margin-top:20px;
	margin-left: 20%;
}
.btn2{
	float: left;
	margin-top:20px;
	margin-left: 10%;
}

.f_line{
		clear: left;
		border: 0;
		height: 1px;
		background: #333;
		background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
		background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
		background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
		background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}
.copy{
		text-align:center;
}
